* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    &__game-name {
        text-align: center;
        margin: 40px 20px;
    }

    &__navigation {
        .navigation__difficulty {
            display: flex;
            justify-content: space-evenly;

            &--button {
                padding: 5px;
            }
        }

        .navigation__errors {
            display: flex;
            justify-content: center;
            margin: 10px;

            &--error-title {
                border: 1px solid red;
                padding: 5px;
            }

            &--error-count {
                border: 1px solid red;
                padding: 5px;
            }
        }
    }

    &__grid {
        height: 400px;
        margin: 10px;
        border: 2px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(3, 1fr);

        .grid__box {
            display: grid;
            border: 1.2px solid black;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows:repeat(3, 1fr);
            place-items: center;
        }

        .grid__box__no {
            display: flex;
            width: 100%;
            height: 100%;
            border: 0.5px solid black;
            justify-content: center;
            align-items: center;
            background-color: white;

            &:active {
                border: 2px solid blue;
            }
        }    
    }

    &__erase {
        display: flex;
        justify-content: center;
        padding: 5px;
        margin: 10px;
    }


}

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 45px;
}

