* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// layout for home screen
.screen {
    display: flex;
    align-items: center;
    height: 100vh;

    &__opening-name {
        padding: 250px 60px 100px;
    }

    &__navigation {
        .navigation__difficulty {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &--button {
                padding: 5px;
                margin: 25px;
                width: 100px;
            }
        }

        
    }
}
