* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen__grid {
    height: 400px;
    margin: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);

    .grid__box {
        display: grid;
        border: 1.2px solid black;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(3, 1fr);
        place-items: center;
    }

    .grid__box__no {
        display: flex;
        width: 100%;
        height: 100%;
        border: 0.5px solid black;
        justify-content: center;
        align-items: center;
        background-color: white;

        &:active {
            border: 2px solid blue;
        }
    }    
}

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 45px;
}

.error-count {
    border: 1px solid red;
}