* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// layout for home screen

.screen {
    display: flex;
    align-items: center;
    height: 100vh;

    &__opening-name {
        padding: 250px 60px 100px;
    }

    &__navigation {
        .navigation__difficulty {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &--button {
                padding: 5px;
                margin: 25px;
                width: 100px;
            }
        }

        
    }
}

// layout for game view
.screen {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__game-name {
        text-align: center;
        margin: 70px 20px 40px;
    }

    .navigation {
        display: flex;
        width: 95%;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 0px 20px;

            &__errors {
                display: flex;
                justify-content: center;
                margin: 10px;
    
                &--error-title, &--error-count {
                    padding: 5px;
                }
            }
    
            &__level {
                display: flex;
                justify-content: center;
                margin: 10px;
    
                &--title, &--level {
                    padding: 5px;
                }
            }
    }

    &__grid {
        height: 400px;
        width: 95%;
        margin: 10px;
        border: 2px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 25px repeat(3, 1fr);

        .grid__box--start {
            grid-column: 1/4;
            grid-row: 1;
        }

        .grid__box {
            display: grid;
            border: 1.2px solid black;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows:repeat(3, 1fr);
            place-items: center;
        }

        .grid__box__no {
            display: flex;
            width: 100%;
            height: 100%;
            border: 0.5px solid black;
            justify-content: center;
            align-items: center;
            background-color: white;
        }    
    }

    .screen__edit {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        margin: 10px;

        &--delete, &--restart, &--finish  {
            display: flex;
            margin: 30px 40px;

        }
    }

    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4px 65px;

        &__single {
            padding: 0px 13px;
        }
    }
}



