@use './variables' as *;

// layout

.result {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        padding: 130px 60px 120px;
    }

    .result-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        grid-template-rows: 70px 30px;
        background-color: $color-game-buttons;
        border-radius: 10px;
        padding: 40px 20px;
        box-shadow: 8px 8px 5px darken($color-game-buttons, 8%);
        margin-bottom: 30px;

        &__paint {
                width: 350px;
                height: 200px;
        }
        
        &__level {
            z-index: 1;
        }

        &__errors  {
            grid-row: 3;
            grid-column: 1;
            padding: 10px;
            z-index: 1;
        }
    }

    &__home {
        margin: 100px;
        box-shadow: 0 0 8px 5px $color-buttons;
        opacity: 0.9;
        color: $color-font-button
    }

}

// styling

* {
    font-family: $font-primary;
}

.result__title {
    font-family: $font-congrats;
    font-size: 30px;
    font-style: italic;

}

.result__home {
    padding: 20px 10px;
    font-size: $font-button-size;
    border: 1px solid $color-buttons;
    border-radius: 40px;
    background-color: $color-buttons;

    &:active {
        background-color: darken($color-buttons, 10%)
    }
}

