@use './variables' as *;

// layout

.result {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        padding: 180px 60px 80px;
    }

    .result-card {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 20px 30px;

        &__paint {
                width: 350px;
                height: 250px;
                grid-row: 1/4;
                grid-column: 1;
        }

        &__congrats {
            grid-row: 2;
            grid-column: 1;
            z-index: 1;
        }
        
        &__level {
            grid-row: 3;
            grid-column: 1;
            z-index: 1;
        }

        &__errors  {
            grid-row: 4;
            grid-column: 1;
            padding: 10px;
            z-index: 1;
        }
    }

    &__home {
        margin: 100px;
    }

}

// styling

* {
    font-family: $font-primary;
}

.result-card__title {
    font-family: $font-logo;
    font-size: 40px;
}

.result__home {
    padding: 20px 10px;
    font-size: $font-button-size;
    border: 1px solid $color-buttons;
    border-radius: 40px;
    background-color: $color-buttons;

    &:active {
        background-color: darken($color-buttons, 10%)
    }
}

