
// layout for game view
.screen {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__game-name {
        text-align: center;
        margin: 30px 20px 40px;
    }

    .navigation {
        display: flex;
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0px 5px;

            &__errors {
                display: flex;
                justify-content: center;
    
                &--error-title, &--error-count {
                    padding: 5px;
                }
            }
    
            &__level {
                display: flex;
                justify-content: center;
    
                &--title, &--level {
                    padding: 5px;
                }
            }
    }

    &__grid {
        height: 400px;
        width: 95%;
        margin: 10px;
        border: 2px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .grid__box {
            display: grid;
            border: 1.2px solid black;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows:repeat(3, 1fr);
            place-items: center;
        }

        .grid__box__no {
            display: flex;
            width: 100%;
            height: 100%;
            border: 0.5px solid black;
            justify-content: center;
            align-items: center;
            background-color: white;
        }    
    }

    .screen__edit {
        display: flex;
        justify-content: space-around;
        padding: 5px;
        margin: 10px;

        &--delete, &--restart  {
            display: flex;
            margin: 10px 60px;

        }
    }

    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 65px;

        &__single {
            padding: 0px 10px;
        }
    }
}

@media screen and (min-width:400px) {
    .screen {

        &__game-name {
            text-align: center;
            margin: 30px 20px 50px;
        }

        .screen__edit {
            margin: 30px 0 40px;

        }
    }
}

@media screen and (min-width:770px) {
    .screen {

        &__game-name {
            text-align: center;
            margin: 40px 20px 30px;
        }

        .navigation {
            width: 40%;
        }

        &__grid {
            width: 40%;
            height: 370px;
        }

        .screen__edit {
            margin: 5px 0 10px;

        }
    }
}



