@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$font-logo: Caveat, sans-serif;
$font-primary: Inter, sans-serif;
$font-numbers: Roboto Mono, sans-serif;

$font-button-size: 18px;

$color-buttons: #F3C3F9;
$color-game-buttons: #F9E4BB;